.taskCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 20px) / 2);
  padding: 25px;
  border: 1px solid var(--grayBorder);
  border-radius: 24px;
  transition: box-shadow .1s ease-in-out;
}

.taskCard:hover {
  box-shadow: var(--shadow-2-3);
}

.taskCardCostAndLevel {
  display: flex;
}

.taskCardButtonAndDate {
  display: flex;
  justify-content: space-between;
}

