.headerFindTask {
  
}

.headerFindTaskButton {
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: 500;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.headerFindTaskButton:hover {
  color: var(--blue);
  background-color: var(--gray-lightest);
}

.headerFindTaskDropdown {
  position: relative;
}