.header {
  width: 100%;
  /* box-shadow: var(--shadow-2); */
}

.headerList {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
  font-size: 14px;
  border-bottom: 1px solid var(--grayBorder);
  box-shadow: var(--shadow-2);
}

.specialties {
  padding: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
