.header {
  width: 100%;
}

.headerList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
  font-size: 14px;
  border-bottom: 1px solid var(--grayBorder);
}

.specialties {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid red; */
}
