.translateList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.translateListItem {
  width: 26%;
  /* width: 44%; */
  font-size: 15px;
  padding: 5px 5px;
  margin-bottom: 15px;
  letter-spacing: 0.20px;
  line-height: 20px;
  transition: color .1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray-text);
}

.translateListItem:hover {
  color: var(--blue);
}

.translateItemLink {
  text-overflow: ellipsis;
}