.taskCardPrice {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 16px;
  margin-right: 70px;
}

.taskCardPriceText {
  margin-bottom: 7px;
  font-size: 13px;
  font-weight: 500;
  color: var(--navy-blue-lighter);
}

.taskCardPriceValue {
  font-size: 15px;
  font-weight: 700;
}

